html,body{
    background-color: rgb(165, 204, 202);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex: auto;
}
.calculator{
    box-shadow: -10px 10px 15px 5px black;
    border-radius: 20px;
    background-color: #203352;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
}
.screen-container{
    display: flex;
    flex-direction: column;  
    margin: 0 auto 10px;
    background-color: aliceblue;
    width:500px;
    height:200px;
    border-radius: 20px;
    border-style: solid;
    font-size: 90px;
}
.screen{
    display: flex;
    font-size: 50px;
    border-radius: 15px 15px 0px;
    background-color: #ffffff;
    height:60px;
    width: inherit;
    overflow-x: auto;
}
.outcome{
    border-radius: 15px;
    overflow:hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    background-color: inherit;
    width: inherit;
    height: 140px;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
}
.button{
    transition: all 0.2s;
    background-color: #c56259;
    margin-bottom: 10px;
    font-size: xxx-large;
    text-align: center;
    border-style:solid;
    box-shadow: -3px 5px 5px 5px black;
    border-radius: 50%;
    border-color: azure;
    width: 110px;
    height: 110px;
}
.active{
    background-color: #e76b60;
    transform: scale(0.9);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    box-shadow: 0px 5px 5px 0px white;
}
.footer{
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #c56259;
    border-color: white;
}