html,body{
    background-color: rgb(165, 204, 202);
}
body{
    display:flex;
    flex: auto;
}
.calculator{
    border-radius: 20px;
    background-color: #203352;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
}
.screen{
    display: flex;
    justify-content: end;
    align-items: flex-end;  
    margin: 0 auto 10px;
    background-color: aliceblue;
    width:500px;
    height:200px;
    border-radius: 20px;
    border-style: solid;
    font-size: 90px;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
}
.button{
    background-color: #c56259;
    margin-bottom: 10px;
    font-size: xxx-large;
    text-align: center;
    border-style:solid;
    box-shadow: 9px 8px 1px 0 black;
    border-radius: 50%;
    border-color: azure;
    width: 120px;
    height: 120px;
}

